<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body class="bg-gray-100 min-h-screen">
    
<!-- Code borrowed from a website - Flowbite -->
<!-- Source: "Tailwind CSS Navbar - Flowbite", https://flowbite.com/docs/components/navbar/ -->
<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="bangers-regular self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{#if user}}Welcome, {{user.name}}{{else}}Hello!{{/if}}</span>
    </a>
    <button id="menuToggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700" id="navItems">
        <li>
          <a href="/" class="block py-2 px-3 {{#if (eq page 'home')}}text-blue-700 dark:text-white md:dark:text-blue-500{{else}}text-gray-900 hover:bg-gray-100 dark:text-white{{/if}} rounded md:bg-transparent md:p-0">Home</a>
        </li>
        <li>
          <a href="/profile/{{user.name}}" class="block py-2 px-3 {{#if (eq page 'profile')}}text-blue-700 dark:text-white md:dark:text-blue-500{{else}}text-gray-900 hover:bg-gray-100 dark:text-white{{/if}} rounded md:bg-transparent md:p-0">Profile</a>
        </li>
        <li>
          <a href="/about" class="block py-2 px-3 {{#if (eq page 'about')}}text-blue-700 dark:text-white md:dark:text-blue-500{{else}}text-gray-900 hover:bg-gray-100 dark:text-white{{/if}} rounded md:bg-transparent md:p-0">About</a>
        </li>
        {{#if (eq user.role_id 1) }}
        <li>
          <a href="/userlist" class="block py-2 px-3 {{#if (eq page 'userlist')}}text-blue-700 dark:text-white md:dark:text-blue-500{{else}}text-gray-900 hover:bg-gray-100 dark:text-white{{/if}} rounded md:bg-transparent md:p-0">Userlist</a>
        </li>
        {{/if}}
        <li>
          {{#if user}}
            <a href="/logout" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Log out</a>
          {{else}}
            <a href="/login" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Log in</a>
            <li><a href="/signup" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign up</a></li>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>

{{#if successMessage}}
  <div id="successAlert" class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">{{successMessage}}</div>
{{/if}}
{{#if errorMessage}}
  <div id="errorAlert" class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">{{errorMessage}}</div>
{{/if}}

{{{body}}}

<script src="https://cdn.tailwindcss.com"></script>
<script src="/js/script.js"></script>
</body>
</html>
